body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.bingo-board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    width: 70vw;
    height: 70vw;
}

.bingo-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bingo-cell.revealed {
    background-color: #add8e6;
}
