body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: url('Background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Cormorant Garamond', serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

h1 {
    margin: 0;
    color: red;
    font-size: 2.5rem;
}

.bingo-board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    width: 90vw;
    max-width: 600px;
    height: auto;/* Add a slight background to the board for readability */
    padding: 10px;
    border-radius: 10px;
}

.bingo-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.bingo-cell.revealed {
    background-color: #ffcb8f;
}

.bingo-cell .question {
    font-size: 0.8rem;
    color: #333;
}

.labels-input {
    margin-top: 10px;
    width: 90vw;
    max-width: 600px;
}

h2 {
    text-align: center;
    color: red;
    font-size: 2rem;
    margin-bottom: 10px;
}

.label-fields {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.label-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-field input {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .header {
        padding: 20px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .bingo-cell {
        font-size: 1.5em;
    }

    .bingo-cell .question {
        font-size: 1.2rem;
    }
}
